@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');


*{
    padding: 0;
    margin: 0;
    background-color: #FEFEFE;
    font-family: 'Source Serif Pro', serif;
}

.container{
    color: #B2A789;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    height: 200px;
    width: 290px;
    text-align: center;
    font-size: 1.3vh;
    padding: 1vh;
}

.black{
    color: black;
}

.card h1{
    font-size: 8vh !important;
}

.text{
    padding: 1vh;
    font-size: 1.7vh;
    max-width: 290px;
}

.text p{
    width: 450px;
}

.top{
    width: 125px;
    margin: auto;
}